body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button
{
    padding: 15px 30px 15px 30px;
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg,#EE7752,#fff,#083adf,#E73C7E);
    background-size: 250% 250%;
    animation: change2 15s ease-out infinite;
    border-radius: 8px;
    margin: 0 40px 0px 40px;
}

button:hover
{
    border-style :solid;
    border-color:  rgb(255, 255, 255);
    border-radius: 8px;
}

@keyframes change2
{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 75%;
    }
    100%{
        background-position: 0 75%;
    }
}

.amt
{
    width:100%;
    height: 70%;
    padding-top: 30px;
    margin: 0;
}

.task
{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 400px;
    height: 400px;
    text-align: center;
    color: #fff;
    background: linear-gradient(-45deg,#EE7752,#E73C7E, #083adf,#32d6ff);
    background-size: 400% 400%;
    position: relative;
    animation: change 15s ease-out infinite;
}

@keyframes change
{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 75% 75%;
    }
    100%{
        background-position: 0 50%;
    }
}

  
@media only screen and (max-width: 450px) 
{
    body{
        font-size: 24px;
    }

    .task {
        width: 83%;
        height: 87%;
        text-align: center;
        color: #fff;
        top: 6%;
        left: 8%;
        background: linear-gradient(-45deg,#EE7752,#E73C7E, #083adf,#32d6ff);
        background-size: 400% 400%;
        animation: change 15s ease-out infinite;
    }

    button
    {
        padding: 15px 40px 15px 40px;
        color: rgb(0, 0, 0);
        background: linear-gradient(45deg,#EE7752,#fff,#083adf,#E73C7E);
        background-size: 250% 250%;
        animation: change2 15s ease-out infinite;
        border-radius: 8px;
        margin: 0 2% 0 2%;
    }

    button:hover
    {
        border-style :solid;
        border-color:  rgb(255, 255, 255);
        border-radius: 8px;
    }

    .amt
    {
        width:100%;
        height: 80%;
        margin:0;
        padding-top: 30px;
    }
  }